.header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding: 20px 10%;
    background: #af351b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}
.logo {
    font-size: 32px;
    color: #ada619;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #ada619;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #ada619;
    top: 100%;
    left: 0;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}